html{
    height: 100vh;
    /* position: relative; */
    min-height: 100%;
  }
  
  body{
    height: 100%;
    min-height: 100vh;
    flex-direction: column; 
    font-family: 'Congenial', sans-serif;
 
  }
   main {
    flex: 1 0 auto;
    min-height: 75vh;
  } 

  .exercise-img {
    height: 200px ; 
    width: 200px;
    
  }

.brand-logo{
  height: 60px;
  width: 60px;
}
.logo-img {
  height: 100px;
  width: 100px;
}
  
.notfoundcontainer{

  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}
.notfound{
  text-align: center;
  font-size: 160px;
  color:#554f4f;
}
  .collapsible-body {
    background-color: #FF3131;
    width: 600px;
    height: 325px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-align: center;
    padding: 20px;
  }
  .scrollable {
    overflow-y: scroll;
}
  

  .collapsible-header {
    
    font-size: 20px; /* set font size to your desired size */
    text-align: center; /* center align the header text */
    
    margin: 0 auto;
  }
  .collapsible {
    
    width: 40%; /* set width to your desired size */
    margin: 0 auto;
  }

  /* Use Congenial font for accordion headers */
  .collapsible-header {
    font-family: 'Congenial', sans-serif;
  }

  nav .brand-logo.left {
      left: 0rem; 
      text-align: center;             
    }

  #alert {
    background-color: var(--alert);
    position: relative;
    padding: 1em;
    color: #FF3131;
  }

  #close {
      position: absolute;
      top: 1px;
      right: 10px;
      color: #FF3131;
      font-size: 1.5em;
      text-decoration: none;
  }

  #close:hover {
      cursor: pointer;
      /* change the cursor to a pointer on hover */
  }

  .nav-wrapper form {
    position: relative;
  }

  .nav-wrapper form .input-field {
      margin: 0;
      padding: 0;
      position: relative;
      top: 5%;
      transform: translateY(30%);
  }

  .nav-wrapper form .input-field input[type=search] {
    background-color: #ffffff;
    border-radius: 20px;
    border: none;
    box-shadow: none;
    font-size: 16px;
    height: 40px;
    padding-left: 40px;
    padding-right: 20px;
    width: 200px;
  }

  .nav-wrapper form .input-field i {
    color: #000000;      
    transform: translateY(-16%);
  }

  .bordered {
    border: 3px solid #000000;
    padding: 10px;
    border-radius: 20px;
}

  #banner{
    height: 275px;
  }

  #banner_b{
    height: 225px;
  }
  .nav-wrapper form .input-field i.clear-icon {
    display: none;
    cursor: pointer;
  }
  
  .nav-wrapper form .input-field input[type=search]:not(.browser-default):focus:not([readonly]) {
    background-color: #ffffff;
    box-shadow: none;
  }
  
  .nav-wrapper form .input-field input[type=search]:not(.browser-default):focus:not([readonly])+label {
    color: #000000;
  }
  
  .nav-wrapper form .input-field input[type=search]:not(.browser-default):focus:not([readonly])+label+i.clear-icon {
    display: block;
  }
  
  .nav-wrapper form .input-field input[type=search]:not(.browser-default):valid:not([readonly])+label+i.clear-icon {
    display: block;
  }
  
  .nav-wrapper form .input-field input[type=search]:not(.browser-default):invalid:not([readonly])+label+i.clear-icon {
    display: none;
  }

    #homesearch {
    border-radius: 20px !important;
    padding: 5px !important;
    }

    #homesearch input[type=text]:focus + label {
    color: #000000 !important;
    }

    #homesearch input[type=text] {
    border-bottom: 1px solid #000000 !important;
    box-shadow: 0 1px 0 0 #000000 !important;
    }

    #homesearch input[type=text] {
        background-color: #ffffff;
        border-radius: 10px;
        border: none;
        box-shadow: none;
        position: relative;
        font-size: 16px;
        height: 40px;
        padding-left: 30px;
        padding-right: 20px;
        width: 200px;
      }
      #homesearch .input-field i {
        color: #000000;      

      }

    .parallax-container {
    height: 500px;
    }

    #all_workouts {
      /* padding:0% 90% 0% 5%; */
      text-align: center;
      background-color: #000000;
    }
    #actbtn{
      background-color: #FF3131;
    }