{% extends "layout.html" %}
{% block title %}All Exercises{% endblock %}
{% block page %}All Exercises{% endblock %}

{% block content%}
<div class="parallax-container" id="banner">
    <div class="parallax responsive-img"><img src="https://i.imgur.com/Xxu1g1u.jpg"></div>    
    <div class="section" id="top-section">
      <div class="container">
        <div class="row">
          <div class="col s12 m6">
            <img src="" class="responsive-img">
          </div>
          <div class="col s12 m6">
            <h3 class="center-align white-text">All Exercises</h3>
            <p class="center-align white-text">Get fit with our collection of workouts!</p>
            <div class="center-align">
              <a href="/listing" class="waves-effect waves-light btn grey lighten-1">See Created Workouts</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<main>
      {% for key, value in allexercises.items() %}
        {% if key == 'Difficulty' %}
            <section class="section blue-grey lighten-5">
        {%else%}
        <section class="section">
            {%endif%}
          <div class="container">
              
                  <h3>{{ key|title }}</h3>
                  <div class="row">
                      {% for exercise, img_link in value.items() %}
                          <div class="col s12 m4">
                              <div class="card hoverable">
                                  <div class="card-image">
                                      <img class="exercise-img" src="{{ img_link }}">
                                      <a id="actbtn" class="btn-floating halfway-fab waves-effect waves-light" href="{{ url_for('workout_views.workout_page', value=exercise) }}" ><i class="material-icons">arrow_forward</i></a>
                                    </div>
                                    <div class="card-footer" id ="all_workouts">
                                      {%if exercise == 'lower_back'%}
                                      <span class="card-title white-text" >Lower Back</span>
                                      {%else%}
                                      <span class="card-title white-text " >{{ exercise|title }}</span>
                                      {%endif%}
                                  </div>
                                  
                              </div>
                          </div>
                      {% endfor %}
                     
                  </div>
                  <br>
                  <br>
              
          </div>
      </section>
{% endfor %}
</main>
<div class="parallax-container" id="banner_b">
  <div class="parallax responsive-img"><img src="https://i.imgur.com/Xxu1g1u.jpg"></div>      
</div>
{%endblock%}