{% extends "layout.html" %}
{% block title %}Create Workout{% endblock %}
{% block page %}Create Workout{% endblock %}

{% block content%}
<main>

    <div class="row center-align">
      <div class="col s12 m6 offset-m3">
        <div class="card">
         
        <div class="card-content">
          <span class="card-title">Create Personal Workout</span>
          <div class="row">
              <form class="col s12" method="POST" action="{{ url_for('workout_views.createWorkout')}}" id="createForm">
                  <div class="row">
                      <div class="input-field col s6">
                          <input id="name" type="text" class="validate" name="pname" style="border-radius: 20px; border: 2px solid #ccc;">
                          <label for="name">Name</label>
                      </div>
                      <div class="input-field col s6">
                          <input id="type" type="text" class="validate" name="type" style="border-radius: 20px; border: 2px solid #ccc;">
                          <label for="type">Type</label>
                      </div>
                      <div class="input-field col s6">
                          <input id="equipment" type="text" class="validate" name="equipment" style="border-radius: 20px; border: 2px solid #ccc;">
                          <label for="equipment">Equipment</label>
                      </div>
                      <div class="input-field col s6">
                          <input id="difficulty" type="text" class="validate" name="difficulty" style="border-radius: 20px; border: 2px solid #ccc;">
                          <label for="difficulty">Difficulty</label>
                      </div>
                      <div class="input-field col s6">
                          <input id="target-muscle" type="text" class="validate" name="muscle" style="border-radius: 20px; border: 2px solid #ccc;">
                          <label for="target-muscle">Target Muscle</label>
                      </div>
                      <div class="input-field col s6">
                          <input id="weight" type="text" class="validate" name ="weight" style="border-radius: 20px; border: 2px solid #ccc;">
                          <label for="weight">Weight</label>
                      </div>
                      <div class="input-field col s6">
                          <input id="sets" type="number" class="validate" name ="sets" min="1" style="border-radius: 20px; border: 2px solid #ccc; padding: 1px;">
                          <label for="sets">Sets</label>
                      </div>
                      <div class="input-field col s6">
                          <input id="reps" type="number" class="validate" name="reps" min="1" style="border-radius: 20px; border: 2px solid #ccc; padding: 1px;">
                          <label for="reps">Reps</label>
                      </div>
      <div class="col s12 left-align">
                        <p>
                        <label for="days-of-week">Days of the Week</label>
                        </p>
                        {% for day, value in w_days.items() %}
                        <label>
                          <input type="radio" name="day" value="{{ value }}" />
                          <span>{{ day }}</span>
                        </label>
                        {% endfor %}                     
                      </div>
                      <div class="input-field col s12">
                        <label>
                          <input type="checkbox" name="public" class="filled-in" />
                          <span>Add to Public Listing</span>
                        </label>
                      </div>
                  </div>
                  <br>
          <div class="row justify-content">
                      <div class="center">
                        <input type="submit" class="blue text-white btn" value="Save">
                        <a href="#" id="clearForm" class="red text-white btn">Clear</a>                        
                      </div>                                 
                    </div> 
              </form>
          </div>
      </div>
      </div>
    </div>
  </div>
  
  </main>

{%endblock%}