{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block page %}Home{% endblock %}

{% block content%}
<main>
<div class="parallax-container">
	<div class="parallax"><img src="https://i.imgur.com/hOiN5DN.jpg"></div>			
</div>
	
	<div  class= "container"  >
		<div class="row" >
			<div class="col s12 m6">
				<h2>Get Fit with Our Workouts</h2>
				<p>Your only limit is the one you set for yourself. Believe in yourself, push past the pain, and achieve the impossible.</p>				
				<form method="GET" action="{{ url_for('allworkouts_views.searchWorkouts_page')}}" id="searchForm">
					<div class="input-field rounded" id="homesearch">
						<input type="text" id="search" name="query" required>
						<label class="label-icon" for="serach"><i class="material-icons">search</i></label>						
					</div>
				</form>
			</div>
		</div>
	</div>
  <div class="parallax-container">
    <div class="parallax"><img src="https://imgur.com/F5zX4Pt.jpg"></div>  
</div>
</main>
{% endblock %}

