{% extends "layout.html" %}
{% block title %}Game Fly{% endblock %}
{% block page %}Game Fly{% endblock %}

{% block menu %}
    <li class="active"><a class="waves-effect"  href="/">Browse Games</a></li>
    <li><a class="waves-effect" href="/profile">Profile</a></li>
    <li><a class="waves-effect" href="/about">About</a></li>
{% endblock %}

{% block content %}
  
    <form class="row" action="/listings" method="GET">
        <div class="input-field">
            <div class="col s11">
                <input id="search" type="search" placeholder="search listings">
            </div>
            <div class="col s1">
                <button type="submit" class="btn blue accent-3 waves-effect waves-light  white-text>
                    <label for="search"><i class="material-icons">search</i></label>
                </button>
            </div>
        </div>
    </form>
 
    <div class="row">
        {% for listing in listings %}
        <div class="col s12 m4">
                <div class="card blue accent-3">
                    <div class="card-content white-text">
                        <span class="card-title">{{listing.game.title}}</span>
                        <p>Price: {{listing.price}}</p>
                        <p>Condition: {{listing.condition}}</p>
                    </div>
                    <div class="card-action">
                        <a href="/{{listing.listingId}}" class="white-text">Reserve</a>
                    </div>
                </div>
        </div>
        {% endfor %}
    </div>


        <!-- <div id="modal" class="modal modal-fixed-footer">
            <div class="modal-content center">
                <div class="row">
                    <h1></h1>
                </div>
                <div class="row">
                    <img src="">
                </div>
                <div class="row">
                    <a class="col s12 m8 offset-m2 waves-effect waves-light btn blue accent-3">Rent Game</a>
                </div>

            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-blue btn-flat">Close</a>
            </div>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                let modal = M.Modal.init( document.querySelector('#modal'));
                modal.open();
            });
        </script> -->
 



          
{% endblock %}